.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 24px;
    color: $color-white;
    position: fixed;
    min-width: 280px;
    max-width: 500px;
    z-index: 2400;
    opacity: 1;
    transition: opacity 0.6s;
    border-radius: 4px;
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);

    .close-alert {
        color: $color-white;
        font-size: rem(20);
        padding-left: 24px;
        transition: 0.3s;
        
        &:hover {
            color: $color-black;
            cursor: pointer;
        }
    }

    &-primary {
        background-color: $color-primary;
    }

    &-success {
        background-color: $color-tertiary;
    }

    &-error {
        background-color: $color-danger;
    }

    &-top-right {
        top: 24px;
        left: auto;
        right: 24px;
    }

    &-top-left {
        top: 24px;
        left: 24px;
        right: auto;
    }

    &-bottom-right {
        bottom: 24px;
        left: auto;
        right: 24px;
    }

    &-bottom-left {
        bottom: 24px;
        left: 24px;
        right: auto;
    }
}