$bg-img-list: home, signin, signup, search-travel, admin-setup, plugins-setup, finish-setup, error;

@each $bg-img in $bg-img-list {
    .#{$bg-img}-bg-img {
        @include background-cover;
        background-image: url('../../../images/#{$bg-img}-bg-img.jpg');
    }
}

.bg-image-text {
    position: relative;
    display: flex;
    color: $color-white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        opacity: 0.3;
    }
    
    & > * {
        z-index: 1;
    }
}

.rounded {
    border-radius: 50% !important;
    object-fit: cover;
    object-position: center right;
}
