$icon-list: lock, email, search, user;

@each $icon-name in $icon-list {
    .#{$icon-name}-icon {
        background-image: url('../../../images/icons/#{$icon-name}-icon.svg');
        background-repeat: no-repeat;
        padding-left: 35px;
    }
}