.btn {
    border: {
        style: solid;
        width: 1px;
        radius: 4px;
    }

    &-rounded {
        border-radius: 50px;
    }

    padding: 0.6em 1.6em;
    text-align: center;
    color: inherit;
    display: inline-block;
    cursor: pointer;
    font-size: rem(16);
    
    &:focus {
        outline: none;
    }

    & i {
        font-size: 20px;
        vertical-align: top !important;
    }

    &-primary {
        background-color: $color-primary;
        color: $color-white;
        transition: 0.4s;
        border-style: none;
    
        &:hover {
            background-color: darken($color-primary, 10%);
        }
        
        &:active {
            background-color: darken($color-primary, 20%);
        }
    }

    &-success {
        background-color: $color-tertiary;
        color: $color-white;
        transition: 0.4s;
        border-style: none;
    
        &:hover {
            background-color: darken($color-tertiary, 10%);
        }
    
        &:active {
            background-color: darken($color-tertiary, 20%);
        }
    }

    &-danger {
        background-color: $color-danger;
        color: $color-white;
        transition: 0.4s;
        border-style: none;
    
        &:hover {
            background-color: darken($color-danger, 10%);
        }
    
        &:active {
            background-color: darken($color-danger, 20%);
        }
    }

    &-small {
        font-size: $text-small;
    }

    &-large {
        font-size: $text-subtitle;
    }

    &-icon-only {
        margin: 1px 0;
        padding: 5px;
    }
}