.card {
    margin: 30px 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    height: auto;
    overflow-y: auto;
    border-radius: 4px;
    background-color: $color-white;

    &-form {
        max-height: 70vh;
        width: 500px;
    }
    
    &-img-top {
        border-radius: 4px 4px 0 0;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 250px;
    }

    &-img-top-large {
        height: 350px;
    }

    & > i {
        font-size: rem(70);
    }
    
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    &-body {
        padding: 1rem;
        color: $color-grey;

        .card-title {
            font-size: $text-subtitle;
        }
        
        .card-text {
            font-size: $text-paragraph;
            margin: 10px 0;
        }
    }

    &-footer {
        padding: 0 1rem 1rem 1rem;
    }
}