.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.4s ease;

    &:hover .dropdown-content {
        display: block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: $color-white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 5px;
        border-radius: 4px;
        z-index: 1;
        right: 10px;
    }

    .dropdown-item {
        display: flex;
        color: $color-black;
        padding: 10px;
        text-align: left;
        transition: 0.2s ease-in;

        &:hover {
            color: white;
            background-color: $color-primary;
        }
        
        & i {
            font-size: 21px !important;
        }
    }
}