.table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    overflow-x:auto;

    &-rounded {
        border-radius: 10px;
        overflow: hidden;
    }
    
    th {
        background-color: darken($color-primary, 5%);
        color: white;
    }

    td, th {
        padding: 14px;
        text-align: left;
    }

    tr {
        transition: all 0.3s ease;

        &:hover {
            background-color: lighten($color-primary, 35%);
        }
    }
}

.x-scroll {
    overflow-x: auto;
}