.navbar {
    display: flex;
    border: none;
    width: 100%;
    z-index: 1000;
    top: 0;
    
    &-sticky {
        background-color: rgba(0, 0, 0, 0.5) !important;
    }
    
    &-admin {
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),
        0px 4px 5px 0px rgba(0,0,0,0.14),
        0px 1px 10px 0px rgba(0,0,0,0.12);
    }
    
    &-brand {
        display: inline-block;
        color: $color-white;
        text-align: center;
        padding: 1em;
        font-weight: 600;
        font-size: rem(24);
    }

    &-fo-brand {
        @include sm {
            display: none;
        }
    }

    &-left, &-right {
        display: flex;
        flex: 1;
    }

    &-nav {
        text-align: center;
        margin: 16px 0;
        display: inherit;
            
        .nav-item {
            display: inline-block;

            .nav-link {
                display: inline-flex;
                text-align: center;
                padding: 0.8em;
                font-size: rem(16);
                color: $color-white;
                font-weight: 600;
                margin: 0 10px;
                border-radius: 4px;
                transition: 0.2s ease-in;
                
                & i {
                    font-size: 20px;
                }

                &:hover {
                    background-color: lighten($color-primary, 5%);
                }
            }
        }
    }
}

.bg {
    &-primary {
        background-color: $color-primary;
    }

    &-transparent {
        background-color: transparent;
    }
}

.profile-picture {
    width: 42px;
    height: 42px;
}