// Background
@mixin background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// Breakpoints mixins
@mixin xxl {
    @media screen and (max-width: #{$screen-xxl-min}) {
        @content;
    }
}

@mixin xl {
    @media screen and (max-width: #{$screen-xl-min}) {
        @content;
    }
}

@mixin lg {
    @media screen and (max-width: #{$screen-lg-min}) {
        @content;
    }
}

@mixin md {
    @media screen and (max-width: #{$screen-md-min}) {
        @content;
    }
}

@mixin sm {
    @media screen and (max-width: #{$screen-sm-min}) {
        @content;
    }
}

@mixin custom-break($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}