// Colors
$color-primary: #3e92f9;
$color-secondary: #72affa;
$color-tertiary: #80a91d;
$color-quaternary: #fbf532;
$color-grey: #747373;
$color-white: white;
$color-black: black;
$color-danger: red;
$color-warning: #ffc107;

// Typography
$font-lato: 'Lato', sans-serif;
$text-subtitle: rem(20);
$text-paragraph: rem(16);
$text-small: rem(10);

// Grid
$grid-columns: 12;

// Breakpoints
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
$screen-xxl-min: 1600px;

// Radius 
$radius-small: 2px;
$radius: 4px;
$radius-large: 6px;
$radius-rounded: 290486px;