#signin, #installer {
    .card {
        width: 350px;
        color: $color-grey;
    }
    
    .card-footer {
        font-size: rem(13);
        text-align: center;
        margin: 0 15px;
        padding-bottom: 15px;
    }
}