// General
section {
    & h3 {
        margin-top: 50px;
    }
    & h5 {
        margin: 20px 0 30px;
    }
}

.main-title {
    text-align: center;
    margin-top: 30px;
}

// Button section
#button-section {
    & a {
        margin-right: 20px;
    }
}

#card-section {
    .card {
        & img {
            width: 100%;
        }
    }
}
// Card section
#dashboard-card-section {
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
    }
    
    .card-body {
        padding: 0;

        & p {
            text-align: right;
        }
    }

    .card-footer {
        width: 100%;
        border-top: 1px solid lighten($color-grey, 40%);
        padding-top: 15px;
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        color: $color-grey;

        & i {
            margin-right: 5px;
        }
    }
}

// Menu section
.bg-image-short {
    height: 570px;
    position: relative;
    text-align: center;
}

// Logo section
#logo-section {
    .row {
        margin-bottom: 30px;
    }
    
    .col-3 {
        &:nth-child(4) img {
            background-image: url('../../images/home-bg-img.jpg');
        }
    }
}

// Dropdown section
#dropdown-section {
    & header {
        margin-top: 50px;
    }
}

//  Typography section
#typo-section {
    .row:nth-child(2) .col-12 {
        text-align: center;
    }
    h1, h2, h3, h4, h5, p {
        margin: 20px 0;
    }
}

#modal-section {
    [data-modal="modal-demo"] {
        margin: 30px 0;
    }
}