#user-settings {
    .nav-setting {
        padding: 1rem;
        color: lighten($color-grey, 15%);
        transition: all 0.3s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
        display: inline-flex;
        width: 100%;
    
        &:hover {
            color: darken($color-grey, 15%);
            background-color: rgba(0, 0, 0, 0.08);

            &:first-child {
                border-radius: 4px 4px 0 0;
            }
        }
    }

    .avatar {
        width: 150px;
        height: 150px;
        border-radius: 4px;
    }
}
