$sides: (top, right, bottom, left);

@for $i from 0 through 500 {
    @each $side in $sides {
        .m-#{str-slice($side, 0, 1)}-#{$i} {
            margin-#{$side}: #{$i}px !important;
        }
        
        .p-#{str-slice($side, 0, 1)}-#{$i} {
            padding-#{$side}: #{$i}px !important;
        }
    }

    .m-y-#{$i} {
        margin: #{$i}px 0 !important;
    }

    .m-x-#{$i} {
        margin: 0 #{$i}px !important;
    }
}

.m-l-auto {
    margin-left: auto;
}