/* /admin */
#dashboard-card {
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
    }

    .card-body {
        padding: 0;

        & p {
            text-align: right;
        }
    }

    .card-footer {
        width: 100%;
        border-top: 1px solid lighten($color-grey, 40%);
        padding: 15px 0 0 0;
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        color: $color-grey;

        & i {
            margin-right: 5px;
        }
    }
}

/* /admin/users */
#users-list, #pages-list {
    .add-user, .add-page {
        display: flex;
        justify-content: space-between;
        align-items:flex-start;
        margin-bottom: 15px;
        
        .form-control {
            margin: 0;
        }
    }
}